body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --blue: #1363df;
  --dark_blue: #06283d;
  --cyan: #47b5ff;
  --light_blue: #dff6ff;
}

a {
  color: #ffffff;
  margin: 2%;
}

body {
  background-color: #e9eefb;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
}

.container2 {
  display: flex;
}

.navbar {
  background-color: rgba(20, 108, 148, 0.9);
  width: 85%;
  position: absolute;
  margin-left: 15%;
  height: 10vh;
  z-index: 1;
}

.logo {
  margin-top: 50px;
  margin-left: 40px;
}

.side-panel {
  position: absolute;
  flex-direction: column;
  background-color: #146c94;
  width: 15%;
  height: 1000px;
  z-index: 2;
}

.side-title {
  padding: 10vh 5vh;
  font-size: 3rem;
  color: #06283d;
}

.admin_name {
  position: absolute;
  margin-left: 5vw;
  margin-top: 3vh;
  font-size: 26px;
  color: #fff;
}

.logout {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 26em;
  margin-top: 3vh;
  margin-left: 70vw;
  border: none;
}

.logout:hover {
  color: red;
}

.donor-btn {
  color: #fff;
  text-align: center;
  margin-top: 15vh;
  padding: 2vh;
  font-size: 1.5 rem;
}

.driver-btn {
  color: #fff;
  text-align: center;
  padding: 2vh;
  margin-top: 5vh;
  font-size: 1.5 rem;
}

.users-btn:active {
  background-color: #6cc1ff;
  color: #6cc1ff;
}

.donor-btn:hover,
.users-btn:hover,
.driver-btn:hover {
  color: #47b5ff;
  background-color: #06283d;
}

.users-btn {
  padding: 5%;
  margin-top: 3vh;
  padding-left: 5vw;
  font-size: 1.5em;
}
